{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>HBSTAT</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{% static 'hbsui/htmx.1.9.10.min.js' %}"></script>
        <script src="{% static 'hbsui/hyperscript.0.9.12.min.js' %}"></script>
        <script src="{% static 'hbsui/pygal-tooltips.min.js' %}"></script>
        <style type="text/css">
            body {
                scroll-behavior: smooth;
            }
            .pointer {
                cursor: pointer;
            }
        </style>
        <link rel="stylesheet" href="{% static 'hbsui/bulma.0.9.4.min.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'hbsui/favicon.ico' %}"/>
        
    </head>
    
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <div class="container">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <img src="{% static 'hbsui/logo.png' %}" width="112" height="28">
                    </a>
                
                    <a id="navbar-burger" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar" _="on click toggle .is-active then toggle .is-active on #navbar">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
            
                <div id="navbar" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" hx-get="/categories/" hx-target="#modal" _="on click toggle .is-active on #navbar-burger then toggle .is-active on #navbar">
                            Les compétitions
                        </a>
                        <a class="navbar-item" hx-get="/clubs/" hx-target="#modal" _="on click toggle .is-active on #navbar-burger then toggle .is-active on #navbar">
                            Les clubs
                        </a>
                        <a class="navbar-item" hx-get="/players/" hx-target="#modal" _="on click toggle .is-active on #navbar-burger then toggle .is-active on #navbar">
                            Les joueurs
                        </a>
                        <a class="navbar-item" hx-get="/maps/" hx-target="#modal" _="on click toggle .is-active on #navbar-burger then toggle .is-active on #navbar then show #results then hide #welcome">
                            Les cartes
                        </a>
                        <a class="navbar-item" hx-get="/favorites/" hx-target="#modal" _="on click toggle .is-active on #navbar-burger then toggle .is-active on #navbar">
                            Mes favoris
                        </a>
                    </div>
                    <div class="navbar-end">
                    </div>
                </div>
            </nav>
        </div>
        <main style="margin: 10px;">
            <div class="columns">
                <div class="column is-8 is-offset-2 is-full-mobile">
                    <div id="modal"></div>
                    <div class="box" id="welcome" style="padding: 10px;" hx-get="/welcome/" hx-trigger="load" _="on load
                    js(me)
                        //clean favorites pools
                        let favoritepools = JSON.parse(localStorage.getItem('favoritepools')) || [];
                        for(let index = 0; index < favoritepools.length; index++) {
                            if (favoritepools[index].season != '19') {
                                //invalid or previous season -> remove the favorite
                                favoritepools.splice(index, 1);
                            }
                            // store array in local storage
					        localStorage.setItem('favoritepools', JSON.stringify(favoritepools));
                        }

                        //clean favorite players
                        let favoriteplayers = JSON.parse(localStorage.getItem('favoriteplayers')) || [];
                        for(let index = 0; index < favoriteplayers.length; index++) {
                            if (favoriteplayers[index].season != '19') {
                                //invalid or previous season -> remove the favorite
                                favoriteplayers.splice(index, 1);
                            }
                            // store array in local storage
					        localStorage.setItem('favoriteplayers', JSON.stringify(favoriteplayers));
                        }

                        //clean favorite clubs
                        let favoriteclubs = JSON.parse(localStorage.getItem('favoriteclubs')) || [];
                        for(let index = 0; index < favoriteclubs.length; index++) {
                            if (favoriteclubs[index].season != '19') {
                                //invalid or previous season -> remove the favorite
                                favoriteclubs.splice(index, 1);
                            }
                            // store array in local storage
					        localStorage.setItem('favoriteclubs', JSON.stringify(favoriteclubs));
                        }
				    end"></div>
                    <div class="box" id="search" style="display: none; padding: 10px;"></div>
                    <div class="box" id="results" style="display: none; padding: 10px;">{% block results %}{% endblock %}</div>
                </div>
            </div>
        </main>

        <footer></footer>
    </body>
</html>