<div id="modalcategories" class="modal is-active">
	<div class="modal-background" _="on click toggle .is-active on #modalcategories"></div>
    <div class="modal-content">
        <div class="box">
            <p class="title is-5">Recherche de compétitions</p>
            <br>
            <div id="categories">
                <div class="field">
                    <div class="control">
                        <div class="select is-fullwidth is-size-7-mobile">
                            <select hx-get="/championships/"
                                name="categoryid"
                                hx-target="#championships"
                                _="on change hide #competitions then hide #pools">
                                <option selected value=''> -- Choisissez une catégorie de championnat -- </option>
                                <option value='DEP'>Championnats départementaux</option>
                                <option value='REG'>Championnats régionaux</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div id="championships"></div>
            <div id="competitions"></div>
            <div id="phases"></div>
            <div id="pools"></div>
            <button class="modal-close is-large" aria-label="close" _="on click toggle .is-active on #modalcategories"></button>
        </div>
    </div>
</div>