<div class="box" id="categories">
    <p><strong>Les compétitions</strong></p>
    <br>
    <div class="field">
        <div class="control">
            <div class="select is-fullwidth">
                <select hx-get="/championships"
                    name="categoryid"
                    hx-target="#championships">
                    <option selected> -- Choisissez une catégorie de championnat -- </option>
                    <option value='D'>Championnats départementaux</option>
                    <option value='R'>Championnats régionaux</option>
                </select>
            </div>
        </div>
    </div>
    <div class="field">
        <div id="championships">
        </div>
    </div>
</div>
<div class="box">
    <div class="field" id="poolsdata"></div>
</div>