<div class="column is-8 is-offset-2 is-full-mobile">
    <div class="box">
        <p><strong>Recherche de clubs</strong></p>
        <p>Renseignez vos critères de recherche (sans accents)</p>
        <br>
        <form>
            <div class="field">
                <label class="label">Nom du club</label>
                <div class="control">
                    <input name="name" type="text">
                </div>
            </div>
            <div class="field">
                <label class="label">Numéro de département (00-99)</label>
                <div class="control">
                    <input name="departement" type="text">
                </div> 
            </div>
            <div class="field">
                <div class="control">
                    <button
                        class="button is-primary"
                        hx-trigger="click"
                        hx-get="/searchclubs/" 
                        hx-target="#searchresults"
                        hx-include="[name='name'],[name='departement']">
                        Rechercher
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="box">
        <div id="searchresults"></div>
    </div>
</div>