{% extends base_template %}

{% block results %}

<div class="content" _="on load show #results then hide #welcome">
	<p class="title is-5">
		{{ club.name }}
		<a _="			
			on load
			js(me)
				let favoriteclubs = JSON.parse(localStorage.getItem('favoriteclubs')) || [];
				let index = favoriteclubs.findIndex(el => el.id === '{{ club.id }}');
				// myclub is not favoriteclubs
				if (index == -1) {
					me.innerHTML = '&star;';
				// myclub is already favoriteclubs
				} else {
					me.innerHTML = '&starf;';
				}
			end
			
			on click
			js(me)
				const myclubname = encodeURI(`{{ club.name }}`);
				const myclub = {id:'{{ club.id }}',name:myclubname};
				let favoriteclubs = JSON.parse(localStorage.getItem('favoriteclubs')) || [];
				let index = favoriteclubs.findIndex(el => el.id === '{{ club.id }}');
				// myclub is not favoriteclubs, add it
                if (index == -1) {
                    favoriteclubs.push(myclub);
					me.innerHTML = '&starf;';
				}
				// myclub is already favoriteclubs, remove it
                else {
                    favoriteclubs.splice(index, 1);
					me.innerHTML = '&star;';
                }
				// store array in local storage
                localStorage.setItem('favoriteclubs', JSON.stringify(favoriteclubs));
			end">
		</a>
	</p>
	<nav class="tabs is-boxed is-centered is-size-7-mobile" hx-target="#tabcontents" _="on htmx:afterOnLoad take .is-active for event.target">
		<div class="container">
			<ul>
				<li class="tab is-active" hx-get="/clubdataplayers/" hx-vals='{"id": {{ club.id }}}'><a >Joueurs</a></li>
				<li class="tab" hx-get="/clubdatapools/" hx-vals='{"id": {{ club.id }}}'><a >Compétitions</a></li>
			</ul>
		</div>
	</nav>
</div>
<br>
<div id="tabcontents" hx-get="/clubdataplayers/" hx-trigger="load" hx-vals='{"id": {{ club.id }}}'></div>

{% endblock %}