<p>Ce club a participé aux {{ nbresults }} compétitions suivantes :</p>
{% if clubpools %}
    <table class="table is-fullwidth is-hoverable is-size-7-mobile">
        <thead>
            <tr>
                <th>Compétition</th>
				<th>Phase</th>
                <th>Poule</th>
            </tr>
        </thead>
        {% for clubpool in clubpools %}
        <tbody>
            <tr hx-get="/poolsdata/" hx-target="#results" hx-trigger="click" hx-vals='{"poolid": {{ clubpool.dplayer__dpoolplayer__pool__id }}}' hx-push-url='/poolsdata/?id={{ clubpool.dplayer__dpoolplayer__pool__id }}' _="on click hide #search">
                <td><a>{{ clubpool.dplayer__dpoolplayer__pool__competition__name }}</a></td>
                <td><a>{{ clubpool.dplayer__dpoolplayer__pool__phase_name }}</a></td>
                <td><a>{{ clubpool.dplayer__dpoolplayer__pool__name }}</a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% if clubpools.has_other_pages %}
        <nav class="pagination is-size-7-mobile" role="navigation" aria-label="pagination">
            {% if clubpools.has_previous %}
            <a class="pagination-previous"
                hx-get="/clubdatapools/" 
                hx-target="#tabcontents"
                hx-vals='{"page": {{ clubpools.number|add:"-1" }} }'>
                Précédent
            </a>
            {% else %}
            <a class="pagination-previous is-disabled">Précédent</a>
            {% endif %}
            
            {% if clubpools.has_next %}
            <a class="pagination-next"
                hx-get="/clubdatapools/" 
                hx-target="#tabcontents"
                hx-vals='{"page": {{ clubpools.number|add:"1" }} }'>
                Suivant
            </a>
            {% else %}
            <a class="pagination-next is-disabled">Suivant</a>
            {% endif %}

            <ul class="pagination-list"></ul>
            {% for i in page_range|default_if_none:clubpools.paginator.get_elided_page_range %}
                {% if clubpools.number == i %}
                    <a class="pagination-link is-current"
                        hx-get="/clubdatapools/" 
                        hx-target="#tabcontents"
                        hx-vals='{"page": {{ i }} }'>
                        {{ i }}
                    </a>
                {% else %}
                    {% if i == clubpools.paginator.ELLIPSIS %}
                        <a class="pagination-link">{{ i }}</a>
                    {% else %}
                        <a class="pagination-link" 
                            hx-get="/clubdatapools/" 
                            hx-target="#tabcontents"
                            hx-vals='{"page": {{ i }} }'>
                            {{ i }}
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </ul>
        </nav>
    {% endif %}
{% else %}
<p>Pas de données!</p>
{% endif %}
