<div class="field">
    <div class="control">
        <div class="select is-fullwidth is-size-7-mobile">
            <select hx-get="/phases/"
                name="competitionid"
                hx-target="#phases"
                _="on change show #phases then hide #pools">
            <option selected value=''> -- Choisissez une compétition -- </option>
            {% for competition in competitions %}
                <option value={{ competition.id }}>{{ competition.name }}</option>
            {% endfor %}
            </select>
        </div>
    </div>
</div>
