<div id="modalfavorites" class="modal is-active">
	<div class="modal-background" _="on click toggle .is-active on #modalfavorites"></div>
    <div class="modal-content">
        <div class="box" id="favorites" style="padding: 10px;">
            <h1 class="title has-text-primary is-4" _="on load
                js
                    return JSON.parse(localStorage.getItem('favoritepools')) || [];
                end
                for favoritepool in it
                    js(favoritepool) return '&starf; ' + decodeURI(favoritepool.championship_name) + ' - ' + decodeURI(favoritepool.competition_name) + ' - ' + decodeURI(favoritepool.phase_name) + ' - ' + decodeURI(favoritepool.name) end then put it into mypoolinfo
                    make an <li/>
                    put mypoolinfo into its textContent
                    set its.id to favoritepool
                    set its @hx-get to '/poolsdata/'
                    set its @hx-target to '#results'
                    set its @hx-trigger to 'click'
                    set its @hx-vals to `js:{poolid:${favoritepool.id}}`
                    set its @hx-push-url to 'true'
                    set its @_ to 'on click toggle .is-active on #modalfavorites then hide #search then show #results then hide #welcome'
                    put it at the end of #favpools
                end
                js
                    return JSON.parse(localStorage.getItem('favoriteclubs')) || [];
                end
                for favoriteclub in it
                    js(favoriteclub) return '&starf; ' + decodeURI(favoriteclub.name) end then put it into myclubname
                    make an <li/>
                    put myclubname into its textContent
                    set its.id to favoriteclub
                    set its @hx-get to '/clubdata/'
                    set its @hx-target to '#results'
                    set its @hx-trigger to 'click'
                    set its @hx-vals to `js:{id:${favoriteclub.id}}`
                    set its @hx-push-url to 'true'
                    set its @_ to 'on click toggle .is-active on #modalfavorites then hide #search then show #results then hide #welcome'
                    put it at the end of #favclubs
                end
                js
                    return JSON.parse(localStorage.getItem('favoriteplayers')) || [];
                end
                for favoriteplayer in it
                    js(favoriteplayer) return '&starf; ' +decodeURI(favoriteplayer.last_name) + ' ' + decodeURI(favoriteplayer.first_name) + ' - ' + decodeURI(favoriteplayer.club) end then put it into myplayerinfo
                    make an <li/>
                    put myplayerinfo into its textContent
                    set its.id to favoriteplayer
                    set its @hx-get to '/playerdata/'
                    set its @hx-target to '#results'
                    set its @hx-trigger to 'click'
                    set its @hx-vals to `js:{id:${favoriteplayer.id}}`
                    set its @hx-push-url to 'true'
                    set its @_ to 'on click toggle .is-active on #modalfavorites then hide #search then show #results then hide #welcome'
                    put it at the end of #favplayers
                end
                js htmx.process(document.body)">Mes favoris</h1>
            <div class="block">
                <h2 class="subtitle has-text-info is-4">Compétitions favorites</h2>
                <ul id ="favpools" class="pointer"></ul>
            </div>
            <div class="block">
                <h2 class="subtitle has-text-info is-4">Clubs favoris</h2>
                <ul id ="favclubs" class="pointer"></ul>
            </div>
            <div class="block">
                <h2 class="subtitle has-text-info is-4">Joueurs favoris</h2>
                <ul id ="favplayers" class="pointer"></ul>
            </div>
            <button class="modal-close" aria-label="close" _="on click toggle .is-active on #modalfavorites"></button>
        </div>
    </div>
</div>