<br>
<p class="title is-5">Statistiques par match</p>
<p class="subtitle is-6">{{ pool.competition.name }}<br>{{ pool.phase_name }}</p>
<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Match N°</th>
            <th>But</th>
            <th>Arrêt</th>
            <th>2 min</th>
            <th>Carton jaune</th>
            <th>Carton rouge</th>
        </tr>
    </thead>
    {% for playerpoolstat in playerpoolstats %}
    <tbody>
        <tr>
            <td>{{ playerpoolstat.game|add:"1" }}</td>
            <td>{{ playerpoolstat.goal }}</td>
            <td>{{ playerpoolstat.saves }}</td>
            <td>{{ playerpoolstat.mins }}</td>
            <td>{{ playerpoolstat.warn }}</td>
            <td>{{ playerpoolstat.dis }}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
