{% extends base_template %}

{% block results %}

<div class="content" _="on load show #results then hide #welcome">
	<p class="title is-5">
		{{ player.last_name }} {{ player.first_name|lower|capfirst }}
		<a _="
			on load
			js(me)
				let favoriteplayers = JSON.parse(localStorage.getItem('favoriteplayers')) || [];
				let index = favoriteplayers.findIndex(el => el.id === '{{ player.id }}');
				// myplayer is not favoriteplayers
				if (index == -1) {
					me.innerHTML = '&star;';
				// myplayer is already favoriteplayers
				} else {
					me.innerHTML = '&starf;';
				}
			end
			
			on click
			js(me)
				const myplayerlastname = encodeURI(`{{ player.last_name }}`);
				const myplayerfirstname = encodeURI(`{{ player.first_name|lower|capfirst }}`);
				const myplayerclubname = encodeURI(`{{ player.club.name  }}`);
				const myplayer = {season:'19',id:'{{ player.id }}',last_name:myplayerlastname,first_name:myplayerfirstname,club:myplayerclubname};
				let favoriteplayers = JSON.parse(localStorage.getItem('favoriteplayers')) || [];
				let index = favoriteplayers.findIndex(el => el.id === '{{ player.id }}');
				// myplayer is not favoriteplayers, add it
				if (index == -1) {
					favoriteplayers.push(myplayer);
					me.innerHTML = '&starf;';
				}
				// myplayer is already favoriteplayers, remove it
				else {
					favoriteplayers.splice(index, 1);
					me.innerHTML = '&star;';
				}
				// store array in local storage
				localStorage.setItem('favoriteplayers', JSON.stringify(favoriteplayers));
			end">
		&#9733</a>
	</p>
	<p class="subtitle is-6">{{ player.club.name }}</p>
	<br>
	<p class="title has-text-primary is-5">Statistiques totales</p>
	<table class="table is-narrow is-fullwidth is-hoverable is-size-7-mobile">
		<thead>
			<tr>
				<th>Nb matchs</th>
				<th>But</th>
				<th>Moy. But</th>
				<th>Arrêt</th>
				<th>Moy. Arrêt</th>
				<th>2 mins</th>
				<th>Carton J.</th>
				<th>Carton R.</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ player.match_played }}</td>
				<td>{{ player.goals }}</td>
				<td>{{ player.avg_goals|floatformat }}</td>
				<td>{{ player.saves }}</td>
				<td>{{ player.avg_saves|floatformat }}</td>
				<td>{{ player.mins }}</td>
				<td>{{ player.warn }}</td>
				<td>{{ player.dis }}</td>
			</tr>
		</tbody>
	</table>
	<br>
	<p class="title has-text-primary is-5">Statistiques par compétition/phase/poule</p>
	<table class="table is-narrow is-fullwidth is-hoverable is-size-7-mobile">
		<thead>
			<tr>
				<th>Compétition</th>
				<th>Phase</th>
				<th>Poule</th>
				<th>Nb matchs</th>
				<th>But</th>
				<th>Arrêt</th>
				<th>Moy But</th>
				<th>Moy Arrêt</th>
			</tr>
		</thead>
		{% for playerpool in playerpools %}
		<tbody>
			<tr hx-get="/playerdatastat/" hx-target="#playerdatastat" hx-trigger="click" hx-vals='{"poolid": {{ playerpool.pool.id }},"playerid": {{ player.id }}}'>
				<td><a href="#playerdatastat">{{ playerpool.pool.phase.competition.name }}</a></td>
				<td><a href="#playerdatastat">{{ playerpool.pool.phase.name }}</a></td>
				<td><a href="#playerdatastat">{{ playerpool.pool.name }}</a></td>
				<td><a href="#playerdatastat">{{ playerpool.match_played }}</a></td>
				<td><a href="#playerdatastat">{{ playerpool.goals }}</a></td>
				<td><a href="#playerdatastat">{{ playerpool.saves }}</a></td>
				<td><a href="#playerdatastat">{{ playerpool.avg_goals|floatformat:-2 }}</a></td>
				<td><a href="#playerdatastat">{{ playerpool.avg_saves|floatformat:-2 }}</a></td>
			</tr>
		</tbody>
		{% endfor %}
	</table>
	<div id="playerdatastat"></div>
</div>

{% endblock %}