<br>
<p class="title has-text-primary is-5">Statistiques par match</p>
<p class="subtitle is-6">{{ pool.competition.name }}<br>{{ pool.phase_name }}<br>{{ pool.name }}</p>
<table class="table is-narrow is-fullwidth is-hoverable is-size-7-mobile">
    <thead>
        <tr>
            <th>Match N°</th>
            <th>But</th>
            <th>Tir</th>
            <th>7m</th>
            <th>Arrêt</th>
            <th>2 min</th>
            <th>Carton jaune</th>
            <th>Carton rouge</th>
        </tr>
    </thead>
    {% for playermatchstat in playermatchstats %}
    <tbody>
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ playermatchstat.goals }}</td>
            <td>{{ playermatchstat.shots }}</td>
            <td>{{ playermatchstat.penaltythrows }}</td>
            <td>{{ playermatchstat.saves }}</td>
            <td>{{ playermatchstat.mins }}</td>
            <td>{{ playermatchstat.warn }}</td>
            <td>{{ playermatchstat.dis }}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
