<div class="field">
    <div class="control">
        <div class="select  is-fullwidth is-size-7-mobile">
            <select hx-get="/poolsdata"
                name="poolid"
                hx-target="#poolsdata"
                _="on change show #poolsdata">
            <option selected> -- Choisissez une poule -- </option>
            {% for pool in pools %}
                <option value={{ pool.id }}>{{ pool.phase_name }} - {{ pool.name }}</option>
            {% endfor %}
            </select>
        </div>
    </div>
</div>