<div class="field">
    <div class="control">
        <div class="select is-fullwidth is-size-7-mobile">
            <select
                hx-get="/poolsdata/"
                name="poolid"
                hx-target="#results"
                hx-push-url="true"
                _="on change toggle .is-active on #modalcategories then hide #welcome then hide #search then show #results">
            <option selected> -- Choisissez une poule -- </option>
            {% for pool in pools %}
                <option value={{ pool.id }}>{{ pool.phase_name }} - {{ pool.name }}</option>
            {% endfor %}
            </select>
        </div>
    </div>
</div>