{% if poolteams %}
<table class="table is-narrow is-fullwidth is-hoverable is-size-7-mobile">
    <thead>
        <tr>
            <th></th>
            <th>Equipe</th>
            <th>J</th>
            <th>P</th>
            <th>G</th>
            <th>N</th>
            <th>P</th>
            <th>+</th>
            <th>-</th>
            <th>D</th>
        </tr>
    </thead>
    {% for poolteam in poolteams %}
    <tbody>
        <tr>
            <td>{{ poolteam.ranking }}</td>
            <td>{{ poolteam.name }}</td>
            <td>{{ poolteam.games }}</td>
            <td>{{ poolteam.points }}</td>
            <td>{{ poolteam.wins }}</td>
            <td>{{ poolteam.draws }}</td>
            <td>{{ poolteam.defeats }}</td>
            <td>{{ poolteam.scored }}</td>
            <td>{{ poolteam.missed }}</td>
            <td>{{ poolteam.difference }}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
<p style="text-align: center">
    <a href="/poolteamscsv/?poolid={{ poolid }}">Télécharger ces données au format CSV</a>
</p>
<div style="clear: both;"></div>
{% else %}
<p>Pas de données de classement pour cette poule!</p>
{% endif %}
