<div class="content" _="on load show #results then hide #welcome">
	<p class="title has-text-primary is-5">{{ pool.phase.competition.championship.name }}</p>
	<p class="subtitle has-text-link is-6">{{ pool.phase.competition.name }}</p>
	<p class="subtitle has-text-info is-6">{{ pool.phase.name }}
		<br>{{ pool.name }}
		<a _="
				on load
				js(me)
					let favoritepools = JSON.parse(localStorage.getItem('favoritepools')) || [];
					let index = favoritepools.findIndex(el => el.id === '{{ pool.id }}');
					// mypool is not favoritepools
					if (index == -1) {
						me.innerHTML = '&star;';
					// mypool is already favoritepools
					} else {
						me.innerHTML = '&starf;';
					}
				end
				
				on click
				js(me)
					const mychampionshipname = encodeURI(`{{ pool.phase.competition.championship.name }}`);
					const mycompetitionname = encodeURI(`{{ pool.phase.competition.name }}`);
					const myphasename = encodeURI(`{{ pool.phase.name }}`);
					const mypoolname = encodeURI(`{{ pool.name }}`);
					const mypool = {season:'19',id:'{{ pool.id }}',championship_name:mychampionshipname,competition_name:mycompetitionname,phase_name:myphasename,name:mypoolname};
					let favoritepools = JSON.parse(localStorage.getItem('favoritepools')) || [];
					let index = favoritepools.findIndex(el => el.id === '{{ pool.id }}');
					// mypool is not favoritepools, add it
					if (index == -1) {
						favoritepools.push(mypool);
						me.innerHTML = '&starf;';
					}
					// mypool is already favoritepools, remove it
					else {
						favoritepools.splice(index, 1);
						me.innerHTML = '&star;';
					}
					// store array in local storage
					localStorage.setItem('favoritepools', JSON.stringify(favoritepools));
				end">
			&#9733</a>
	</p>
	<nav class="tabs is-boxed is-centered is-size-7-mobile" hx-target="#tabcontents" _="on htmx:afterOnLoad take .is-active for event.target">
		<div class="container">
			<ul>
				<li class="tab is-active" hx-get="/poolmatchs/" hx-vals='{"poolid": {{ pool.id }}}'><a >Evènements</a></li>
				<li class="tab" hx-get="/poolteams/" hx-vals='{"poolid": {{ pool.id }}}'><a >Classement</a></li>
				<li class="tab" hx-get="/poolplayers/" hx-vals='{"poolid": {{ pool.id }}}'><a >Joueurs</a></li>
			</ul>
		</div>
	</nav>
	<div id="tabcontents" hx-get="/poolmatchs/" hx-trigger="load" hx-vals='{"poolid": {{ pool.id }}}'></div>
</div>