{% if poolmatchs %}
{% for poolmatch in poolmatchs %}
<div class="columns">
    <div class="column is-full">
        <p style="float: left; font-weight: bold;">Journée {{ poolmatch.day.index }}</p>
        <p style="float: right; font-style: italic;"><i>{{ poolmatch.date|date:'d-m-Y' }} {{ poolmatch.date|time:"H:i" }}</i></p>
        <p style="text-align: center"><a href="/poolmatchfdm/?fdm={{ poolmatch.fdm }}">{% if poolmatch.team_1_score != None %}FdM{% endif %}</a></p>
        <div style="clear: both;"></div>
    </div>
</div>
<div class="columns">
    <div class="column is-6 is-full-mobile is-size-7-mobile" style="border-bottom: 2px solid; border-bottom-color: lightgrey;">
        <p style="float: left;">{{ poolmatch.team_1.name }}</p>
        <p style="float: right;">{{ poolmatch.team_1_score|default_if_none:"-" }}</p>
        <div style="clear: both;"></div>
        <p style="float: left;">{{ poolmatch.team_2.name }}</p>
        <p style="float: right;">{{ poolmatch.team_2_score|default_if_none:"-" }}</p>
        <div style="clear: both;"></div>
    </div>
    <div class="column is-6 is-full-mobile is-size-7-mobile" style="border-bottom: 2px solid; border-bottom-color: lightgrey; font-weight: lighter;">
        <p style="float: left;">Salle</p>
        <p style="float: right;">{{ poolmatch.gym.location|title|default_if_none:"" }}</p>
        <div style="clear: both;"></div>
        <p style="float: left;">Arbitre(s)</p>
        <p style="float: right;">{{ poolmatch.officials.juge1.name|default_if_none:"-" }} {{ poolmatch.officials.juge2.name|default_if_none:"" }}</p>
        <div style="clear: both;"></div>
        
    </div>
</div>
{% endfor %}
<p style="text-align: center">
    <a href="/poolmatchscsv/?poolid={{ pool.id }}">Télécharger ces données au format CSV</a>
</p>
<div style="clear: both;"></div>
{% else %}
<p>Pas de données d'évènements pour cette poule!</p>
{% endif %}

