{% if poolplayers %}
    <table class="table is-narrow is-fullwidth is-hoverable is-size-7-mobile">
        <thead>
            <tr>
                <th>Club</th>
                <th>Joueur</th>
                <th>J</th>
                <th>But</th>
                <th>Arr.</th>
                <th>Moy But</th>
                <th>Moy Arr.</th>
            </tr>
        </thead>
        {% for poolplayer in poolplayers %}
        <tbody>
            <tr>
                <td>{{ poolplayer.player.club.name }}</td>
                <td>{{ poolplayer.player.last_name }} {{ poolplayer.player.first_name|lower|capfirst }}</td>
                <td>{{ poolplayer.match_played }}</td>
                <td>{{ poolplayer.goal }}</td>
                <td>{{ poolplayer.saves }}</td>
                <td>{{ poolplayer.avg }}</td>
                <td>{{ poolplayer.avg_stop }}</td>
            </tr>
        </tbody>
        {% endfor %}
        
    </table>
    {% if poolplayers.has_other_pages %}
        <nav class="pagination is-size-7-mobile" role="navigation" aria-label="pagination">
            {% if poolplayers.has_previous %}
            <a class="pagination-previous"
                hx-get="/poolplayersdata/"
                hx-target="#poolplayersdata"
                hx-include="[name='poolid'],[name='clubid'],[name='orderby']"
                hx-vals='{"page": {{ poolplayers.number|add:"-1" }}}'>
            Précédent
            </a>
            {% else %}
            <a class="pagination-previous is-disabled">Précédent</a>
            {% endif %}
            
            {% if poolplayers.has_next %}
            <a class="pagination-next"
                hx-get="/poolplayersdata/"
                hx-target="#poolplayersdata"
                hx-include="[name='poolid'],[name='clubid'],[name='orderby']"
                hx-vals='{"page": {{ poolplayers.number|add:"1" }}}'>
                Suivant
            </a>
            {% else %}
            <a class="pagination-next is-disabled">Suivant</a>
            {% endif %}

            <ul class="pagination-list"></ul>
            {% for i in page_range|default_if_none:poolplayers.paginator.get_elided_page_range %}
                {% if poolplayers.number == i %}
                    <a class="pagination-link is-current"
                        hx-get="/poolplayersdata/"
                        hx-target="#poolplayersdata"
                        hx-include="[name='poolid'],[name='clubid'],[name='orderby']"
                        hx-vals='{"page": {{ i }}}'>
                        {{ i }}
                    </a>
                {% else %}
                    {% if i == poolplayers.paginator.ELLIPSIS %}
                        <a class="pagination-link">{{ i }}</a>
                    {% else %}
                        <a class="pagination-link" 
                            hx-get="/poolplayersdata/"
                            hx-target="#poolplayersdata"
                            hx-include="[name='poolid'],[name='clubid'],[name='orderby']"
                            hx-vals='{"page": {{ i }}}'>
                            {{ i }}
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </ul>
        </nav>
    {% endif %}
{% else %}
Pas de données!
{% endif %}