<div class="columns">
    <div class="column is-8 is-offset-2 is-full-mobile is-size-7-mobile">
        <p>Statistiques des joueurs pour cette poule uniquement.</p>
        <br>
        <form>
            <div class="field">
                <div class="control">
                    <div class="select is-fullwidth is-size-7-mobile">
                        <select hx-get="/poolplayersdata/"
                            name="clubid"
                            hx-target="#poolplayersdata"
                            hx-include="[name='poolid'],[name='orderby']" >
                            <option value='all' selected> -- Choisissez un club -- </option>
                            <option value='all'>Tous les clubs</option>
                            {% for poolclub in poolclubs %}
                            <option value={{ poolclub.player__club__id }}>{{ poolclub.player__club__name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <div class="select is-fullwidth is-size-7-mobile">
                        <select hx-get="/poolplayersdata/"
                            name="orderby"
                            hx-target="#poolplayersdata"
                            hx-include="[name='poolid'],[name='clubid']" >
                            <option value='-goal' selected> -- Choisissez un classement -- </option>
                            <option value='-match_played'>Nb de matchs joués</option>
                            <option value='-goal'>Buts marqués</option>
                            <option value='-saves'>Arrêts</option>
                            <option value='-avg'>Moyenne de buts marqués</option>
                            <option value='-avg_stop'>Moyenne d'arrêts</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
        <div id="poolplayersdata" hx-get="/poolplayersdata/" hx-trigger="load" hx-include="[name='poolid'],[name='clubid'],[name='orderby']"></div>
        <br>
        <p style="text-align: center">
            <a href="/poolplayersdatacsv/?poolid={{ poolid }}">Télécharger ces données au format CSV</a>
        </p>
        <div style="clear: both;"></div>
    </div>
</div>